%h3
  Delivery Receipts

%table.table.table-hover.table-responsive.receipt#deliveries
  %thead
    %tr
      %th Receipt number
      %th Supplier
      %th Address
      %th Date issued
      %th Total
      %th Amount received
      %th Balance

  %tbody
    - @incoming_receipts.each do |incoming_receipt|
      %tr
        %td= link_to incoming_receipt.receipt_number, incoming_receipt
        %td= incoming_receipt.supplier
        %td= incoming_receipt.address
        %td= incoming_receipt.date_issued
        %td
          .pull-right.text-success
            %b= number_with_precision(incoming_receipt.total, precision:2)
        %td
          .pull-right= number_with_precision(incoming_receipt.amount_received, precision:2)
        %td
          .pull-right.text-danger
            %b= number_with_precision(incoming_receipt.balance, precision:2)
