%h3
  Delivery Receipt from #{@incoming_receipt.supplier} no. #{@incoming_receipt.receipt_number}
  %small
    = link_to 'Edit', edit_incoming_receipt_path(@incoming_receipt), class: 'glyphicon glyphicon-pencil btn btn-link btn-xs'
  %small
    = link_to 'Destroy', @incoming_receipt, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'glyphicon glyphicon-trash btn btn-link btn-xs'
  %small
    = link_to 'Back to Deliveries', incoming_receipts_path, class: 'glyphicon glyphicon-arrow-left btn btn-link btn-xs'

%p#notice= notice

.pull-right
  %h4
    Total:
    = number_with_precision(@incoming_receipt.total, precision:2)
  %p
    %b Amount received:
    = number_with_precision(@incoming_receipt.amount_received, precision:2)
  %p
    %b Balance:
    = number_with_precision(@incoming_receipt.balance, precision:2)

%p
  %b Date issued:
  = @incoming_receipt.date_issued
%p
  %b Receipt number:
  = @incoming_receipt.receipt_number
%p
  %b Supplier:
  = @incoming_receipt.supplier
%p
  %b Address:
  = @incoming_receipt.address

%br

= render 'incoming_receipt_details/list', incoming_receipt_details: @incoming_receipt.incoming_receipt_details
