%h3
  Delivery Receipt from #{@incoming_receipt.supplier} no. #{@incoming_receipt.receipt_number}
  %small
    = link_to 'Edit', edit_incoming_receipt_path(@incoming_receipt), class: 'glyphicon glyphicon-pencil btn btn-link btn-xs'
  %small
    = link_to 'Destroy', @incoming_receipt, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'glyphicon glyphicon-trash btn btn-link btn-xs'
  %small
    = link_to 'Back', items_path, class: 'glyphicon glyphicon-arrow-left btn btn-link btn-xs'

%p#notice= notice

%p
  %b Date issued:
  = @incoming_receipt.date_issued
%p
  %b Receipt number:
  = @incoming_receipt.receipt_number
%p
  %b Supplier:
  = @incoming_receipt.supplier
%p
  %b Address:
  = @incoming_receipt.address
%h4
  Total:
  = @incoming_receipt.total
%p
  %b Amount received:
  = @incoming_receipt.amount_received
%p
  %b Balance:
  = @incoming_receipt.balance

= render 'incoming_receipt_details/list', incoming_receipt_details: @incoming_receipt.incoming_receipt_details
