%table.table.table-hover.table-responsive.inventory
  %thead
    %tr
      %th Inventory ID
      %th Name - Part No
      %th Receipt No.
      %th Unit Price
      %th Selling Price
      %th Current Stock
      %th Initial Stock

  %tbody
    - inventories.each do |inventory|
      %tr
        %td= inventory.id
        %td= inventory.item.full_description
        %td
          - if inventory.incoming_receipt_detail.present?
            = link_to inventory.incoming_receipt_detail.incoming_receipt.receipt_number, incoming_receipt_path(inventory.incoming_receipt_detail.incoming_receipt)
          - if inventory.outgoing_receipt_detail.present?
            = link_to inventory.outgoing_receipt_detail.outgoing_receipt.receipt_number, outgoing_receipt_path(inventory.outgoing_receipt_detail.outgoing_receipt)
        %td
          .pull-right
            = number_with_precision(inventory.unit_price, precision:2)
        %td
          .pull-right
            - if inventory.incoming_receipt_detail.present?
              = number_with_precision(inventory.item.selling_price, precision:2)
            - if inventory.outgoing_receipt_detail.present?
              %b.text-info= number_with_precision(inventory.outgoing_receipt_detail.selling_price, precision:2)
        %td
          .pull-right
            %b= style_stock(inventory.current_stock)
        %td
          .pull-right= number_with_precision(inventory.initial_stock, precision:2)
