%table.table.table-hover.table-responsive.receipts
  %thead
    %tr
      %th Description
      %th Part
      %th Current Stock
      %th Unit Price
      %th Selling Price

  %tbody
    - inventories.each do |inventory|
      %tr
        %td= inventory.item.description
        %td= inventory.item.part_number
        %td= inventory.current_stock
        %td= inventory.unit_price
        %td= inventory.item.selling_price
