.nested-fields.col-xs-12.receipt-detail
  %table.table.table-hover.table-responsive.receipt-details
    %tbody
      %tr
        %td
          .field.form-group.inventory-id.inventory-item
            = f.label 'Inventory Item'
            = f.text_field :item, value: f.object.item ? f.object.item.full_description : '', class: 'form-control select-inventory-item', placeholder: 'Select inventory item', disabled: f.object.id ? true : false
            = f.hidden_field :item_id, class: 'hidden-item-id'
        %td.width-15
          .field.form-group.qty
            = f.label :qty
            = f.number_field :qty, min: 0, class: 'form-control', step: 0.01, disabled: f.object.id ? true : false
        %td.width-10
          .field.form-group
            = f.label :unit
            = f.text_field :unit, value: f.object.unit.blank? ? 'PC':f.object.unit, class: 'form-control'
        %td.width-15
          .field.form-group.selling-price.price
            = f.label :selling_price
            = f.number_field :selling_price, class: 'form-control', step: 0.01
          .div.pull-right
            Unit Price:
            %span.unit-price
              - if f.object.inventory.present?
                = f.object.inventory.unit_price
              - else
                0.00
        %td
          .field.form-group.total
            = f.label :total
            = f.number_field :total, class: 'form-control', step: 0.01
        %td
          .field.form-group
            = f.hidden_field :id
            = link_to_remove_association " ", f, class: 'glyphicon glyphicon-remove-sign btn btn-link btn-xs'
