%h3
  = @type

%table.table.table-hover.table-responsive.receipt#outgoing-receipts
  %thead
    %tr
      %th Receipt number
      %th Client
      %th Address
      %th Date issued
      %th Total
      /%th Amount received
      %th Balance
      - if !@type
        %th Type
      /%th
      /%th
      /%th

  %tbody
    - @outgoing_receipts.each do |outgoing_receipt|
      %tr
        %td= link_to outgoing_receipt.receipt_number, outgoing_receipt
        %td= outgoing_receipt.client
        %td= outgoing_receipt.address
        %td= outgoing_receipt.date_issued
        %td= outgoing_receipt.total
        /%td= outgoing_receipt.amount_received
        %td= outgoing_receipt.balance
        - if !@type
          %td= outgoing_receipt.type_title
        /%td= link_to 'Show', outgoing_receipt
        /%td= link_to 'Edit', edit_outgoing_receipt_path(outgoing_receipt)
        /%td= link_to 'Destroy', outgoing_receipt, :method => :delete, :data => { :confirm => 'Are you sure?' }
