%h3
  = @outgoing_receipt.type_title
  no. #{@outgoing_receipt.receipt_number}
  %small
    = link_to 'Edit', edit_outgoing_receipt_path(@outgoing_receipt), class: 'glyphicon glyphicon-pencil btn btn-link btn-xs'
  %small
    = link_to 'Destroy', @outgoing_receipt, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'glyphicon glyphicon-trash btn btn-link btn-xs'
  %small
    = link_to "Back to #{@outgoing_receipt.type_short_title.pluralize}", eval(@outgoing_receipt.link_back), class: 'glyphicon glyphicon-arrow-left btn btn-link btn-xs'

%p#notice= notice

.pull-right
  %h4
    Total:
    = @outgoing_receipt.total
  %p
    %b Amount received:
    = @outgoing_receipt.amount_received
  %p
    %b Balance:
    = @outgoing_receipt.balance

%p
  %b Date issued:
  = @outgoing_receipt.date_issued

%p
  %b Receipt number:
  = @outgoing_receipt.receipt_number
%p
  %b Client:
  = @outgoing_receipt.client
%p
  %b Address:
  = @outgoing_receipt.address

%br

= render 'outgoing_receipt_details/list', outgoing_receipt_details: @outgoing_receipt.outgoing_receipt_details

