%p#notice= notice

%p
  %b Receipt number:
  = @outgoing_receipt.receipt_number
%p
  %b Client:
  = @outgoing_receipt.client
%p
  %b Address:
  = @outgoing_receipt.address
%p
  %b Date issued:
  = @outgoing_receipt.date_issued
%p
  %b Total:
  = @outgoing_receipt.total
%p
  %b Amount received:
  = @outgoing_receipt.amount_received
%p
  %b Balance:
  = @outgoing_receipt.balance
%p
  %b Type:
  = @outgoing_receipt.type_title

= link_to 'Edit', edit_outgoing_receipt_path(@outgoing_receipt)
\|
= link_to 'Back', outgoing_receipts_path
