%table.table.table-hover.table-responsive.inventory.item
  %thead
    %tr
      %th Name
      %th Part number
      %th Remarks
      %th Selling price
      %th Total Stock

  %tbody
    - @items.each do |item|
      %tr
        %td
          = check_box_tag 'merge', item.id
          = link_to item.description, item
        %td= item.part_number
        %td= item.remarks
        %td
          .pull-right= number_with_precision(item.selling_price, precision:2)
        %td
          .pull-right.text-success
            %b= number_with_precision(item.total_stock, precision:2)

