%h3
  Inventory Item #{@item.id}
  %small
    = link_to 'Edit', edit_item_path(@item), class: 'glyphicon glyphicon-pencil btn btn-link btn-xs'
  %small
    = link_to 'Destroy', @item, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'glyphicon glyphicon-trash btn btn-link btn-xs'
  %small
    = link_to 'Back', items_path, class: 'glyphicon glyphicon-arrow-left btn btn-link btn-xs'

%p#notice= notice

%p
  %b Description:
  = @item.description
%p
  %b Part number:
  = @item.part_number
%p
  %b Selling price:
  = @item.selling_price

%h4
  Total Stock:
  = @item.total_stock
= render 'inventories/list', inventories: @item.inventories
