.nested-fields.col-xs-12
  .field.form-group.col-xs-3
    = f.label :description
    = f.text_field :description, class: 'form-control item_desc_field', placeholder: 'Description', disabled: @disabled
  .field.form-group.col-xs-2
    = label_tag 'Part'
    = f.text_field :part_number, class: 'form-control item_part_field', placeholder: 'Part', disabled: @disabled
  .field.form-group.col-xs-1.qty
    = f.label :qty
    = f.number_field :qty, class: 'form-control', step: 0.01, disabled: @disabled
  .field.form-group.col-xs-1
    = f.label :unit
    = f.text_field :unit, class: 'form-control', disabled: @disabled
  .field.form-group.col-xs-2.unit_price
    = f.label 'Price'
    - if @is_outgoing
      = f.number_field :selling_price, class: 'form-control', step: 0.01, disabled: @disabled
    - else
      = f.number_field :unit_price, class: 'form-control', step: 0.01, disabled: @disabled
  .field.form-group.col-xs-2.total
    = f.label :total
    = f.number_field :total, class: 'form-control', step: 0.01, disabled: @disabled
  .col-xs-1
    = link_to_remove_association " ", f, class: 'glyphicon glyphicon-remove-sign btn btn-link btn-xs'
