.nested-fields
  .field.form-group.col-xs-3
    = f.label :description
    = f.text_field :description, class: 'form-control item_desc_field', placeholder: 'Description', disabled: @disabled
  .field.form-group.col-xs-2
    = label_tag 'Part'
    = f.text_field :part_number, class: 'form-control item_part_field', placeholder: 'Part', disabled: @disabled
  = f.hidden_field :id
