%table.table.table-hover.table-responsive.receipt#incoming
  %thead
    %tr
      %th Name
      %th Part number
      %th Qty
      %th Unit
      %th Unit price
      %th Total

  %tbody
    - incoming_receipt_details.each do |incoming_receipt_detail|
      %tr
        - inventory = Inventory.where(incoming_receipt_detail: incoming_receipt_detail).first
        - item = inventory.item
        %td= link_to incoming_receipt_detail.description, item_path(item)
        %td= incoming_receipt_detail.part_number
        %td= number_with_precision(incoming_receipt_detail.qty, precision:2)
        %td= incoming_receipt_detail.unit
        %td
          .pull-right
            %b= number_with_precision(incoming_receipt_detail.unit_price, precision:2)
        %td
          .pull-right.text-success
            %b= number_with_precision(incoming_receipt_detail.total, precision:2)
