-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      = render 'layouts/navigation_links'
%nav.navbar-default
  - if user_signed_in?
    %ul.nav.nav-tabs#sub_nav
      /%li= link_to 'Inventory List', inventories_path, class: 'glyphicon glyphicon-tasks btn btn-link btn-xs'
      %li.dropdown
        %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
          %span.glyphicon.glyphicon-list-alt
            Receipts
          %span.caret
        %ul.dropdown-menu{:role => "menu"}
          %li{:role => 'presentation'}
            = link_to ' Deliveries', incoming_receipts_path, class: 'glyphicon glyphicon-list btn btn-link btn-xs pull-left', :role => 'menuitem', :tabindex => '-1'
          %li{:role => 'presentation'}
            = link_to 'Add Delivery', new_incoming_receipt_path, class: 'glyphicon glyphicon-plus-sign btn btn-link btn-xs pull-left', :role => 'menuitem', :tabindex => '-1'
          %li{:role => 'presentation'}
            = link_to ' DRs', outgoing_receipts_path(type: 1), class: 'glyphicon glyphicon-list btn btn-link btn-xs pull-left', :role => 'menuitem', :tabindex => '-1'
          %li{:role => 'presentation'}
            = link_to 'Add DR', add_dr_new_outgoing_receipt_path,   class: 'glyphicon glyphicon-plus-sign btn btn-link btn-xs pull-left', :role => 'menuitem', :tabindex => '-1'
          %li{:role => 'presentation'}
            = link_to ' SIs', outgoing_receipts_path(type: 0), class: 'glyphicon glyphicon-list btn btn-link btn-xs pull-left', :role => 'menuitem', :tabindex => '-1'
          %li{:role => 'presentation'}
            = link_to 'Add SI', add_si_new_outgoing_receipt_path,  class: 'glyphicon glyphicon-plus-sign btn btn-link btn-xs pull-left', :role => 'menuitem', :tabindex => '-1'

      %li= link_to 'Manage Items', items_path, class: 'glyphicon glyphicon-briefcase btn btn-link btn-xs'
      %li= link_to 'Add Inventory Item', new_item_path, class: 'glyphicon glyphicon-plus-sign btn btn-link btn-xs'
