-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      %ul.nav.navbar-nav
        %li= link_to 'New Delivery', add_delivery_new_receipt_path
        %li= link_to 'Add DR', add_delivery_receipt_new_receipt_path
        %li= link_to 'Add SI', add_sales_invoice_new_receipt_path
      = render 'layouts/navigation_links'
