-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      = render 'layouts/navigation_links'
%nav.navbar-default
  - if user_signed_in?
    %ul.nav.nav-tabs#sub_nav
      %li= link_to 'Inventory List', inventories_path, class: 'glyphicon glyphicon-tasks btn btn-link btn-xs'
      %li= link_to 'Manage Items', items_path, class: 'glyphicon glyphicon-briefcase btn btn-link btn-xs'
      %li= link_to 'Add Inventory Item', new_item_path, class: 'glyphicon glyphicon-plus-sign btn btn-link btn-xs'
