-# navigation styled for Bootstrap 3.0
%nav.navbar.navbar-default
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to 'Home', root_path, class: 'navbar-brand'
    .collapse.navbar-collapse
      = render 'layouts/navigation_links'

- if user_signed_in?
  %nav.navbar.navbar-default
    .container
      .collapse.navbar-collapse
        %ul#sub_nav.nav.navbar-nav
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %span.glyphicon.glyphicon-list-alt
                Receipts
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li{:role => 'presentation'}
                = link_to ' Deliveries', incoming_receipts_path, class: 'glyphicon glyphicon-list btn btn-link btn-xs', :role => 'menuitem', :tabindex => '-1'
              %li{:role => 'presentation'}
                = link_to ' Add Delivery', new_incoming_receipt_path, class: 'glyphicon glyphicon-plus-sign btn btn-link btn-xs', :role => 'menuitem', :tabindex => '-1'
              %li{:role => 'presentation'}
                = link_to ' DRs', deliveries_outgoing_receipts_path, class: 'glyphicon glyphicon-list btn btn-link btn-xs', :role => 'menuitem', :tabindex => '-1'
              %li{:role => 'presentation'}
                = link_to ' Add DR', add_dr_new_outgoing_receipt_path,   class: 'glyphicon glyphicon-plus-sign btn btn-link btn-xs', :role => 'menuitem', :tabindex => '-1'
              %li{:role => 'presentation'}
                = link_to ' SIs', sales_invoices_outgoing_receipts_path, class: 'glyphicon glyphicon-list btn btn-link btn-xs', :role => 'menuitem', :tabindex => '-1'
              %li{:role => 'presentation'}
                = link_to ' Add SI', add_si_new_outgoing_receipt_path,  class: 'glyphicon glyphicon-plus-sign btn btn-link btn-xs', :role => 'menuitem', :tabindex => '-1'

          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %span.glyphicon.glyphicon-briefcase
                Inventory
              %span.caret
            %ul.dropdown-menu{:role => "menu"}
              %li{:role => 'presentation'}
                = link_to ' Inventory Items', items_path, class: 'glyphicon glyphicon-tag btn btn-link btn-xs'
              %li{:role => 'presentation'}
                = link_to ' New Inventory Item', new_item_path, class: 'glyphicon glyphicon-plus-sign btn btn-link btn-xs'

          %li.pull-left
            = link_to ' Reports', generate_report_path, class: 'glyphicon glyphicon-book btn btn-link btn-xs'
